html{
    scroll-behavior: smooth;
}
body{
    background: #FAFAFA;
    overflow-x: hidden;
}
a:hover{
    text-decoration: none;
}
::selection{
    background: #EC2432;
    color: #fff;
}
h1{
    font-size:8vw;
}
.h1-span{
    font-size: 17vw;
}
.cookie{
    font-family: 'Cookie', cursive;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.zcool{
    font-family: 'ZCOOL XiaoWei', serif;
}
.red{
    color: #EC2432;
}
.burger{
    font-size: 1.8rem;
    color: #EC2432;
}
.menu{
    background-color: rgba(236,36,50,0.7);
    position: absolute;
    width: 0%;
    height: 100vh;
    top: 0px;
    left: -75px;
    z-index: 10;
    transition: all 0.7s;
}
.menu ul li a{
    font-size: 1.4rem;
    color: #fff !important;
}
.menu .a:hover{
    color: #EC2432 !important;
}
.cancel{
    font-size: 2rem;
    color: #fff !important;
}
.header{
    background-image: url(../images/background/slider_image01-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.hero-text{
    margin-top: 20vh;
}
.hero-p{
    letter-spacing: 4px;
    font-size: xx-small;
}
.hero-btn{
    background-color: #EC2432;
    box-shadow: 5px 5px 1px rgba(236,36,50,0.4);
    transition: all 0.6s;
}
.hero-btn:hover{
    box-shadow: none;
    background: #000 !important;
}
.table-img{
    width: 50px;
    height: 50px;
}
.heading{
    font-size: 13vw;
}
.story-img{
    overflow: hidden !important;
    transition: all 1s;
}
.story-img-box{
    overflow: hidden !important;
}
.story-img-box:hover .story-img{
    transform: scale(1.1);
}
.offer{
    background-image: url(../images/background/cta_image-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gallery-img{
    overflow: hidden !important;
    transition: all 1s;
}
.gallery{
    overflow: hidden !important;
}
.gallery:hover .gallery-img{
    transform: scale(1.1);
    cursor: crosshair;
}
.chef-img{
    overflow: hidden !important;
}
.chef-img{
    position: relative;
    overflow: hidden !important;
    transition: all 1s;
}
.chef-img img{
    transition: all 1s;
}
.chef-img:hover img{
    transform: scale(1.1);
}
.over-chef{
    position: absolute;
    bottom: 0px;
    left: 0px;
    background: rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
}
.chef-img:hover .over-chef{
   opacity: 1;
}
.reservation{
    background-image: url(../images/background/reservation_bg_image.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
:focus{
    box-shadow: none !important;
    border-color: #EC2432 !important;
}
.contact-box input, select{
    border: 1px solid #000 !important;
    border-radius: 0px !important;
}
.contact-box button{
    border: none !important;
}
.form-control{
    border: 1px solid #000 !important;
    border-radius: 0px !important;
}
.contact{
    background-image: url(../images/background/contact_bg_image-min.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-hover{
  transition: all 1s;
}
.contact-hover:hover{
    box-shadow: 0px 0px 1rem rgba(0,0,0,.15);
}
.footer{
    background: #111111;
}
.email input{
    border-color: #333333;
    background: #333333;
}
::placeholder{
    color: #f2f2f2;
}
.i{
    width: 100%;
    height: 100%;
    font-size: 1.6rem;
    background: #EC2432;
}
.social a i{
    border-color: #333333 !important;
    background: #333333;
}
.social a i:hover{
    color: #EC2432 !important;
}
.a{
    transition: all 1s !important;
}
.a:hover{
    color: #EC2432 !important;
}
.line{
   border-bottom: 1px solid #f2f2f2;
}
.slider{
    background-image: url(../images/background/image02-min-1024x554.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.owl-nav {
    position: absolute;
    top: 45%;
	display: flex;
	justify-content: space-between;
    width: 100%;
}
.owl-nav .owl-prev{
    font-size: 3rem !important;
    background: #EC2432 !important;
    color: #fff !important;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.owl-nav .owl-prev span{
    font-size: 30px;
    position: relative;
    top: -27px;
    color: #fff; */
    display: inline !important;
}
.owl-nav .owl-next{
    font-size: 3rem !important;
    background: #EC2432 !important;
    color: #fff !important;
    display: inline-block; 
    width: 40px;
     height: 40px;
    border-radius: 50%;
}
 
.owl-nav .owl-next span{
    font-size: 30px;
    position: relative;
    top: -27px;
    color: #fff; */
    display: inline !important;
}
@media  only screen and (min-width:576px){
    
    h1{
        font-size:8vw;
    }
    .h1-span{
        font-size: 12vw;
    }
    .hero-text{
        margin-top: 20vh;
    }
    .hero-p{
        font-size: smaller;
    }
    .heading{
        font-size: 8vw;
    }
    
}
@media  only screen and (min-width:768px){
    h1{
        font-size:6vw;
    }
    .h1-span{
        font-size: 15vw;
    }
    .hero-text{
        margin-top: 5vh;
    }
    .heading{
        font-size: 7vw;
    }
    .contact-box input, select{
        height: 3.2rem !important;
    }
}
@media  only screen and (min-width:992px){
  
    h1{
        font-size:6vw;
    }
    .h1-span{
        font-size: 11vw;
    }
    .table-img{
        width: 70px;
        height: 70px;
    }
    .heading{
        font-size: 5vw;
    }
    .hero-p{
        font-size: medium;
    }
   
}
@media only screen and (min-width:1200px){
 
    h1{
        font-size:5vw;
    }
    .h1-span{
        font-size: 10vw;
    }
    .heading{
        font-size: 4vw;
    }
    .owl-nav {
        width: 93%;
    }
}